.au-theme-font-color-primary {
  color: #0e9ee2;
}

.au-theme-font-color-primary-link:link {
  color: #0e9ee2;
}

.au-theme-font-color-primary-visited:visited {
  color: #0e9ee2;
}

.au-theme-font-color-primary-active:active {
  color: #0e9ee2;
}

.au-theme-font-color-primary-hover:hover {
  color: #0e9ee2;
}

.au-theme-font-color-primary-focus:focus {
  color: #0e9ee2;
}

.au-theme-font-color-primary-first-child:first-child {
  color: #0e9ee2;
}

.au-theme-font-color-primary-last-child:last-child {
  color: #0e9ee2;
}

.au-theme-font-color-primary-before:before {
  color: #0e9ee2;
}

.au-theme-font-color-primary-after:after {
  color: #0e9ee2;
}

.au-theme-font-color-primary-enabled:enabled {
  color: #0e9ee2;
}

.au-theme-font-color-primary-disabled:disabled {
  color: #0e9ee2;
}

.au-theme-font-color-primary-checked:checked {
  color: #0e9ee2;
}

.au-theme-font-color-info {
  color: #28b7eb;
}

.au-theme-font-color-info-link:link {
  color: #28b7eb;
}

.au-theme-font-color-info-visited:visited {
  color: #28b7eb;
}

.au-theme-font-color-info-active:active {
  color: #28b7eb;
}

.au-theme-font-color-info-hover:hover {
  color: #28b7eb;
}

.au-theme-font-color-info-focus:focus {
  color: #28b7eb;
}

.au-theme-font-color-info-first-child:first-child {
  color: #28b7eb;
}

.au-theme-font-color-info-last-child:last-child {
  color: #28b7eb;
}

.au-theme-font-color-info-before:before {
  color: #28b7eb;
}

.au-theme-font-color-info-after:after {
  color: #28b7eb;
}

.au-theme-font-color-info-enabled:enabled {
  color: #28b7eb;
}

.au-theme-font-color-info-disabled:disabled {
  color: #28b7eb;
}

.au-theme-font-color-info-checked:checked {
  color: #28b7eb;
}

.au-theme-font-color-warning {
  color: #fec500;
}

.au-theme-font-color-warning-link:link {
  color: #fec500;
}

.au-theme-font-color-warning-visited:visited {
  color: #fec500;
}

.au-theme-font-color-warning-active:active {
  color: #fec500;
}

.au-theme-font-color-warning-hover:hover {
  color: #fec500;
}

.au-theme-font-color-warning-focus:focus {
  color: #fec500;
}

.au-theme-font-color-warning-first-child:first-child {
  color: #fec500;
}

.au-theme-font-color-warning-last-child:last-child {
  color: #fec500;
}

.au-theme-font-color-warning-before:before {
  color: #fec500;
}

.au-theme-font-color-warning-after:after {
  color: #fec500;
}

.au-theme-font-color-warning-enabled:enabled {
  color: #fec500;
}

.au-theme-font-color-warning-disabled:disabled {
  color: #fec500;
}

.au-theme-font-color-warning-checked:checked {
  color: #fec500;
}

.au-theme-font-color-danger {
  color: #f35555;
}

.au-theme-font-color-danger-link:link {
  color: #f35555;
}

.au-theme-font-color-danger-visited:visited {
  color: #f35555;
}

.au-theme-font-color-danger-active:active {
  color: #f35555;
}

.au-theme-font-color-danger-hover:hover {
  color: #f35555;
}

.au-theme-font-color-danger-focus:focus {
  color: #f35555;
}

.au-theme-font-color-danger-first-child:first-child {
  color: #f35555;
}

.au-theme-font-color-danger-last-child:last-child {
  color: #f35555;
}

.au-theme-font-color-danger-before:before {
  color: #f35555;
}

.au-theme-font-color-danger-after:after {
  color: #f35555;
}

.au-theme-font-color-danger-enabled:enabled {
  color: #f35555;
}

.au-theme-font-color-danger-disabled:disabled {
  color: #f35555;
}

.au-theme-font-color-danger-checked:checked {
  color: #f35555;
}

.au-theme-font-color-success {
  color: #4fca72;
}

.au-theme-font-color-success-link:link {
  color: #4fca72;
}

.au-theme-font-color-success-visited:visited {
  color: #4fca72;
}

.au-theme-font-color-success-active:active {
  color: #4fca72;
}

.au-theme-font-color-success-hover:hover {
  color: #4fca72;
}

.au-theme-font-color-success-focus:focus {
  color: #4fca72;
}

.au-theme-font-color-success-first-child:first-child {
  color: #4fca72;
}

.au-theme-font-color-success-last-child:last-child {
  color: #4fca72;
}

.au-theme-font-color-success-before:before {
  color: #4fca72;
}

.au-theme-font-color-success-after:after {
  color: #4fca72;
}

.au-theme-font-color-success-enabled:enabled {
  color: #4fca72;
}

.au-theme-font-color-success-disabled:disabled {
  color: #4fca72;
}

.au-theme-font-color-success-checked:checked {
  color: #4fca72;
}

.au-theme-font-color-primary-light {
  color: #0e9ee2;
}

.au-theme-font-color-primary-light-link:link {
  color: #0e9ee2;
}

.au-theme-font-color-primary-light-visited:visited {
  color: #0e9ee2;
}

.au-theme-font-color-primary-light-active:active {
  color: #0e9ee2;
}

.au-theme-font-color-primary-light-hover:hover {
  color: #0e9ee2;
}

.au-theme-font-color-primary-light-focus:focus {
  color: #0e9ee2;
}

.au-theme-font-color-primary-light-first-child:first-child {
  color: #0e9ee2;
}

.au-theme-font-color-primary-light-last-child:last-child {
  color: #0e9ee2;
}

.au-theme-font-color-primary-light-before:before {
  color: #0e9ee2;
}

.au-theme-font-color-primary-light-after:after {
  color: #0e9ee2;
}

.au-theme-font-color-primary-light-enabled:enabled {
  color: #0e9ee2;
}

.au-theme-font-color-primary-light-disabled:disabled {
  color: #0e9ee2;
}

.au-theme-font-color-primary-light-checked:checked {
  color: #0e9ee2;
}

.au-theme-font-color-info-light {
  color: #28b7eb;
}

.au-theme-font-color-info-light-link:link {
  color: #28b7eb;
}

.au-theme-font-color-info-light-visited:visited {
  color: #28b7eb;
}

.au-theme-font-color-info-light-active:active {
  color: #28b7eb;
}

.au-theme-font-color-info-light-hover:hover {
  color: #28b7eb;
}

.au-theme-font-color-info-light-focus:focus {
  color: #28b7eb;
}

.au-theme-font-color-info-light-first-child:first-child {
  color: #28b7eb;
}

.au-theme-font-color-info-light-last-child:last-child {
  color: #28b7eb;
}

.au-theme-font-color-info-light-before:before {
  color: #28b7eb;
}

.au-theme-font-color-info-light-after:after {
  color: #28b7eb;
}

.au-theme-font-color-info-light-enabled:enabled {
  color: #28b7eb;
}

.au-theme-font-color-info-light-disabled:disabled {
  color: #28b7eb;
}

.au-theme-font-color-info-light-checked:checked {
  color: #28b7eb;
}

.au-theme-font-color-warning-light {
  color: #fec500;
}

.au-theme-font-color-warning-light-link:link {
  color: #fec500;
}

.au-theme-font-color-warning-light-visited:visited {
  color: #fec500;
}

.au-theme-font-color-warning-light-active:active {
  color: #fec500;
}

.au-theme-font-color-warning-light-hover:hover {
  color: #fec500;
}

.au-theme-font-color-warning-light-focus:focus {
  color: #fec500;
}

.au-theme-font-color-warning-light-first-child:first-child {
  color: #fec500;
}

.au-theme-font-color-warning-light-last-child:last-child {
  color: #fec500;
}

.au-theme-font-color-warning-light-before:before {
  color: #fec500;
}

.au-theme-font-color-warning-light-after:after {
  color: #fec500;
}

.au-theme-font-color-warning-light-enabled:enabled {
  color: #fec500;
}

.au-theme-font-color-warning-light-disabled:disabled {
  color: #fec500;
}

.au-theme-font-color-warning-light-checked:checked {
  color: #fec500;
}

.au-theme-font-color-danger-light {
  color: #f35555;
}

.au-theme-font-color-danger-light-link:link {
  color: #f35555;
}

.au-theme-font-color-danger-light-visited:visited {
  color: #f35555;
}

.au-theme-font-color-danger-light-active:active {
  color: #f35555;
}

.au-theme-font-color-danger-light-hover:hover {
  color: #f35555;
}

.au-theme-font-color-danger-light-focus:focus {
  color: #f35555;
}

.au-theme-font-color-danger-light-first-child:first-child {
  color: #f35555;
}

.au-theme-font-color-danger-light-last-child:last-child {
  color: #f35555;
}

.au-theme-font-color-danger-light-before:before {
  color: #f35555;
}

.au-theme-font-color-danger-light-after:after {
  color: #f35555;
}

.au-theme-font-color-danger-light-enabled:enabled {
  color: #f35555;
}

.au-theme-font-color-danger-light-disabled:disabled {
  color: #f35555;
}

.au-theme-font-color-danger-light-checked:checked {
  color: #f35555;
}

.au-theme-font-color-success-light {
  color: #4fca72;
}

.au-theme-font-color-success-light-link:link {
  color: #4fca72;
}

.au-theme-font-color-success-light-visited:visited {
  color: #4fca72;
}

.au-theme-font-color-success-light-active:active {
  color: #4fca72;
}

.au-theme-font-color-success-light-hover:hover {
  color: #4fca72;
}

.au-theme-font-color-success-light-focus:focus {
  color: #4fca72;
}

.au-theme-font-color-success-light-first-child:first-child {
  color: #4fca72;
}

.au-theme-font-color-success-light-last-child:last-child {
  color: #4fca72;
}

.au-theme-font-color-success-light-before:before {
  color: #4fca72;
}

.au-theme-font-color-success-light-after:after {
  color: #4fca72;
}

.au-theme-font-color-success-light-enabled:enabled {
  color: #4fca72;
}

.au-theme-font-color-success-light-disabled:disabled {
  color: #4fca72;
}

.au-theme-font-color-success-light-checked:checked {
  color: #4fca72;
}

.au-theme-font-color-primary-dark {
  color: #0e9ee2;
}

.au-theme-font-color-primary-dark-link:link {
  color: #0e9ee2;
}

.au-theme-font-color-primary-dark-visited:visited {
  color: #0e9ee2;
}

.au-theme-font-color-primary-dark-active:active {
  color: #0e9ee2;
}

.au-theme-font-color-primary-dark-hover:hover {
  color: #0e9ee2;
}

.au-theme-font-color-primary-dark-focus:focus {
  color: #0e9ee2;
}

.au-theme-font-color-primary-dark-first-child:first-child {
  color: #0e9ee2;
}

.au-theme-font-color-primary-dark-last-child:last-child {
  color: #0e9ee2;
}

.au-theme-font-color-primary-dark-before:before {
  color: #0e9ee2;
}

.au-theme-font-color-primary-dark-after:after {
  color: #0e9ee2;
}

.au-theme-font-color-primary-dark-enabled:enabled {
  color: #0e9ee2;
}

.au-theme-font-color-primary-dark-disabled:disabled {
  color: #0e9ee2;
}

.au-theme-font-color-primary-dark-checked:checked {
  color: #0e9ee2;
}

.au-theme-font-color-info-dark {
  color: #28b7eb;
}

.au-theme-font-color-info-dark-link:link {
  color: #28b7eb;
}

.au-theme-font-color-info-dark-visited:visited {
  color: #28b7eb;
}

.au-theme-font-color-info-dark-active:active {
  color: #28b7eb;
}

.au-theme-font-color-info-dark-hover:hover {
  color: #28b7eb;
}

.au-theme-font-color-info-dark-focus:focus {
  color: #28b7eb;
}

.au-theme-font-color-info-dark-first-child:first-child {
  color: #28b7eb;
}

.au-theme-font-color-info-dark-last-child:last-child {
  color: #28b7eb;
}

.au-theme-font-color-info-dark-before:before {
  color: #28b7eb;
}

.au-theme-font-color-info-dark-after:after {
  color: #28b7eb;
}

.au-theme-font-color-info-dark-enabled:enabled {
  color: #28b7eb;
}

.au-theme-font-color-info-dark-disabled:disabled {
  color: #28b7eb;
}

.au-theme-font-color-info-dark-checked:checked {
  color: #28b7eb;
}

.au-theme-font-color-warning-dark {
  color: #fec500;
}

.au-theme-font-color-warning-dark-link:link {
  color: #fec500;
}

.au-theme-font-color-warning-dark-visited:visited {
  color: #fec500;
}

.au-theme-font-color-warning-dark-active:active {
  color: #fec500;
}

.au-theme-font-color-warning-dark-hover:hover {
  color: #fec500;
}

.au-theme-font-color-warning-dark-focus:focus {
  color: #fec500;
}

.au-theme-font-color-warning-dark-first-child:first-child {
  color: #fec500;
}

.au-theme-font-color-warning-dark-last-child:last-child {
  color: #fec500;
}

.au-theme-font-color-warning-dark-before:before {
  color: #fec500;
}

.au-theme-font-color-warning-dark-after:after {
  color: #fec500;
}

.au-theme-font-color-warning-dark-enabled:enabled {
  color: #fec500;
}

.au-theme-font-color-warning-dark-disabled:disabled {
  color: #fec500;
}

.au-theme-font-color-warning-dark-checked:checked {
  color: #fec500;
}

.au-theme-font-color-danger-dark {
  color: #f35555;
}

.au-theme-font-color-danger-dark-link:link {
  color: #f35555;
}

.au-theme-font-color-danger-dark-visited:visited {
  color: #f35555;
}

.au-theme-font-color-danger-dark-active:active {
  color: #f35555;
}

.au-theme-font-color-danger-dark-hover:hover {
  color: #f35555;
}

.au-theme-font-color-danger-dark-focus:focus {
  color: #f35555;
}

.au-theme-font-color-danger-dark-first-child:first-child {
  color: #f35555;
}

.au-theme-font-color-danger-dark-last-child:last-child {
  color: #f35555;
}

.au-theme-font-color-danger-dark-before:before {
  color: #f35555;
}

.au-theme-font-color-danger-dark-after:after {
  color: #f35555;
}

.au-theme-font-color-danger-dark-enabled:enabled {
  color: #f35555;
}

.au-theme-font-color-danger-dark-disabled:disabled {
  color: #f35555;
}

.au-theme-font-color-danger-dark-checked:checked {
  color: #f35555;
}

.au-theme-font-color-success-dark {
  color: #4fca72;
}

.au-theme-font-color-success-dark-link:link {
  color: #4fca72;
}

.au-theme-font-color-success-dark-visited:visited {
  color: #4fca72;
}

.au-theme-font-color-success-dark-active:active {
  color: #4fca72;
}

.au-theme-font-color-success-dark-hover:hover {
  color: #4fca72;
}

.au-theme-font-color-success-dark-focus:focus {
  color: #4fca72;
}

.au-theme-font-color-success-dark-first-child:first-child {
  color: #4fca72;
}

.au-theme-font-color-success-dark-last-child:last-child {
  color: #4fca72;
}

.au-theme-font-color-success-dark-before:before {
  color: #4fca72;
}

.au-theme-font-color-success-dark-after:after {
  color: #4fca72;
}

.au-theme-font-color-success-dark-enabled:enabled {
  color: #4fca72;
}

.au-theme-font-color-success-dark-disabled:disabled {
  color: #4fca72;
}

.au-theme-font-color-success-dark-checked:checked {
  color: #4fca72;
}

.au-theme-font-color-white {
  color: #fff;
}

.au-theme-font-color-white-link:link {
  color: #fff;
}

.au-theme-font-color-white-visited:visited {
  color: #fff;
}

.au-theme-font-color-white-active:active {
  color: #fff;
}

.au-theme-font-color-white-hover:hover {
  color: #fff;
}

.au-theme-font-color-white-focus:focus {
  color: #fff;
}

.au-theme-font-color-white-first-child:first-child {
  color: #fff;
}

.au-theme-font-color-white-last-child:last-child {
  color: #fff;
}

.au-theme-font-color-white-before:before {
  color: #fff;
}

.au-theme-font-color-white-after:after {
  color: #fff;
}

.au-theme-font-color-white-enabled:enabled {
  color: #fff;
}

.au-theme-font-color-white-disabled:disabled {
  color: #fff;
}

.au-theme-font-color-white-checked:checked {
  color: #fff;
}

.au-theme-font-color-black {
  color: #000;
}

.au-theme-font-color-black-link:link {
  color: #000;
}

.au-theme-font-color-black-visited:visited {
  color: #000;
}

.au-theme-font-color-black-active:active {
  color: #000;
}

.au-theme-font-color-black-hover:hover {
  color: #000;
}

.au-theme-font-color-black-focus:focus {
  color: #000;
}

.au-theme-font-color-black-first-child:first-child {
  color: #000;
}

.au-theme-font-color-black-last-child:last-child {
  color: #000;
}

.au-theme-font-color-black-before:before {
  color: #000;
}

.au-theme-font-color-black-after:after {
  color: #000;
}

.au-theme-font-color-black-enabled:enabled {
  color: #000;
}

.au-theme-font-color-black-disabled:disabled {
  color: #000;
}

.au-theme-font-color-black-checked:checked {
  color: #000;
}

.au-theme-font-color-gray {
  color: #666;
}

.au-theme-font-color-gray-link:link {
  color: #666;
}

.au-theme-font-color-gray-visited:visited {
  color: #666;
}

.au-theme-font-color-gray-active:active {
  color: #666;
}

.au-theme-font-color-gray-hover:hover {
  color: #666;
}

.au-theme-font-color-gray-focus:focus {
  color: #666;
}

.au-theme-font-color-gray-first-child:first-child {
  color: #666;
}

.au-theme-font-color-gray-last-child:last-child {
  color: #666;
}

.au-theme-font-color-gray-before:before {
  color: #666;
}

.au-theme-font-color-gray-after:after {
  color: #666;
}

.au-theme-font-color-gray-enabled:enabled {
  color: #666;
}

.au-theme-font-color-gray-disabled:disabled {
  color: #666;
}

.au-theme-font-color-gray-checked:checked {
  color: #666;
}

.au-theme-font-color-light-gray {
  color: #999;
}

.au-theme-font-color-light-gray-link:link {
  color: #999;
}

.au-theme-font-color-light-gray-visited:visited {
  color: #999;
}

.au-theme-font-color-light-gray-active:active {
  color: #999;
}

.au-theme-font-color-light-gray-hover:hover {
  color: #999;
}

.au-theme-font-color-light-gray-focus:focus {
  color: #999;
}

.au-theme-font-color-light-gray-first-child:first-child {
  color: #999;
}

.au-theme-font-color-light-gray-last-child:last-child {
  color: #999;
}

.au-theme-font-color-light-gray-before:before {
  color: #999;
}

.au-theme-font-color-light-gray-after:after {
  color: #999;
}

.au-theme-font-color-light-gray-enabled:enabled {
  color: #999;
}

.au-theme-font-color-light-gray-disabled:disabled {
  color: #999;
}

.au-theme-font-color-light-gray-checked:checked {
  color: #999;
}

.au-theme-font-color-dark-gray {
  color: #333;
}

.au-theme-font-color-dark-gray-link:link {
  color: #333;
}

.au-theme-font-color-dark-gray-visited:visited {
  color: #333;
}

.au-theme-font-color-dark-gray-active:active {
  color: #333;
}

.au-theme-font-color-dark-gray-hover:hover {
  color: #333;
}

.au-theme-font-color-dark-gray-focus:focus {
  color: #333;
}

.au-theme-font-color-dark-gray-first-child:first-child {
  color: #333;
}

.au-theme-font-color-dark-gray-last-child:last-child {
  color: #333;
}

.au-theme-font-color-dark-gray-before:before {
  color: #333;
}

.au-theme-font-color-dark-gray-after:after {
  color: #333;
}

.au-theme-font-color-dark-gray-enabled:enabled {
  color: #333;
}

.au-theme-font-color-dark-gray-disabled:disabled {
  color: #333;
}

.au-theme-font-color-dark-gray-checked:checked {
  color: #333;
}

.au-theme-border-color-primary {
  border-color: #0e9ee2;
}

.au-theme-border-color-primary-link:link {
  border-color: #0e9ee2;
}

.au-theme-border-color-primary-visited:visited {
  border-color: #0e9ee2;
}

.au-theme-border-color-primary-active:active {
  border-color: #0e9ee2;
}

.au-theme-border-color-primary-hover:hover {
  border-color: #0e9ee2;
}

.au-theme-border-color-primary-focus:focus {
  border-color: #0e9ee2;
}

.au-theme-border-color-primary-first-child:first-child {
  border-color: #0e9ee2;
}

.au-theme-border-color-primary-last-child:last-child {
  border-color: #0e9ee2;
}

.au-theme-border-color-primary-before:before {
  border-color: #0e9ee2;
}

.au-theme-border-color-primary-after:after {
  border-color: #0e9ee2;
}

.au-theme-border-color-primary-enabled:enabled {
  border-color: #0e9ee2;
}

.au-theme-border-color-primary-disabled:disabled {
  border-color: #0e9ee2;
}

.au-theme-border-color-primary-checked:checked {
  border-color: #0e9ee2;
}

.au-theme-border-color-info {
  border-color: #28b7eb;
}

.au-theme-border-color-info-link:link {
  border-color: #28b7eb;
}

.au-theme-border-color-info-visited:visited {
  border-color: #28b7eb;
}

.au-theme-border-color-info-active:active {
  border-color: #28b7eb;
}

.au-theme-border-color-info-hover:hover {
  border-color: #28b7eb;
}

.au-theme-border-color-info-focus:focus {
  border-color: #28b7eb;
}

.au-theme-border-color-info-first-child:first-child {
  border-color: #28b7eb;
}

.au-theme-border-color-info-last-child:last-child {
  border-color: #28b7eb;
}

.au-theme-border-color-info-before:before {
  border-color: #28b7eb;
}

.au-theme-border-color-info-after:after {
  border-color: #28b7eb;
}

.au-theme-border-color-info-enabled:enabled {
  border-color: #28b7eb;
}

.au-theme-border-color-info-disabled:disabled {
  border-color: #28b7eb;
}

.au-theme-border-color-info-checked:checked {
  border-color: #28b7eb;
}

.au-theme-border-color-warning {
  border-color: #fec500;
}

.au-theme-border-color-warning-link:link {
  border-color: #fec500;
}

.au-theme-border-color-warning-visited:visited {
  border-color: #fec500;
}

.au-theme-border-color-warning-active:active {
  border-color: #fec500;
}

.au-theme-border-color-warning-hover:hover {
  border-color: #fec500;
}

.au-theme-border-color-warning-focus:focus {
  border-color: #fec500;
}

.au-theme-border-color-warning-first-child:first-child {
  border-color: #fec500;
}

.au-theme-border-color-warning-last-child:last-child {
  border-color: #fec500;
}

.au-theme-border-color-warning-before:before {
  border-color: #fec500;
}

.au-theme-border-color-warning-after:after {
  border-color: #fec500;
}

.au-theme-border-color-warning-enabled:enabled {
  border-color: #fec500;
}

.au-theme-border-color-warning-disabled:disabled {
  border-color: #fec500;
}

.au-theme-border-color-warning-checked:checked {
  border-color: #fec500;
}

.au-theme-border-color-danger {
  border-color: #f35555;
}

.au-theme-border-color-danger-link:link {
  border-color: #f35555;
}

.au-theme-border-color-danger-visited:visited {
  border-color: #f35555;
}

.au-theme-border-color-danger-active:active {
  border-color: #f35555;
}

.au-theme-border-color-danger-hover:hover {
  border-color: #f35555;
}

.au-theme-border-color-danger-focus:focus {
  border-color: #f35555;
}

.au-theme-border-color-danger-first-child:first-child {
  border-color: #f35555;
}

.au-theme-border-color-danger-last-child:last-child {
  border-color: #f35555;
}

.au-theme-border-color-danger-before:before {
  border-color: #f35555;
}

.au-theme-border-color-danger-after:after {
  border-color: #f35555;
}

.au-theme-border-color-danger-enabled:enabled {
  border-color: #f35555;
}

.au-theme-border-color-danger-disabled:disabled {
  border-color: #f35555;
}

.au-theme-border-color-danger-checked:checked {
  border-color: #f35555;
}

.au-theme-border-color-success {
  border-color: #4fca72;
}

.au-theme-border-color-success-link:link {
  border-color: #4fca72;
}

.au-theme-border-color-success-visited:visited {
  border-color: #4fca72;
}

.au-theme-border-color-success-active:active {
  border-color: #4fca72;
}

.au-theme-border-color-success-hover:hover {
  border-color: #4fca72;
}

.au-theme-border-color-success-focus:focus {
  border-color: #4fca72;
}

.au-theme-border-color-success-first-child:first-child {
  border-color: #4fca72;
}

.au-theme-border-color-success-last-child:last-child {
  border-color: #4fca72;
}

.au-theme-border-color-success-before:before {
  border-color: #4fca72;
}

.au-theme-border-color-success-after:after {
  border-color: #4fca72;
}

.au-theme-border-color-success-enabled:enabled {
  border-color: #4fca72;
}

.au-theme-border-color-success-disabled:disabled {
  border-color: #4fca72;
}

.au-theme-border-color-success-checked:checked {
  border-color: #4fca72;
}

.au-theme-border-color-primary-light {
  color: #0e9ee2;
}

.au-theme-border-color-primary-light-link:link {
  color: #0e9ee2;
}

.au-theme-border-color-primary-light-visited:visited {
  color: #0e9ee2;
}

.au-theme-border-color-primary-light-active:active {
  color: #0e9ee2;
}

.au-theme-border-color-primary-light-hover:hover {
  color: #0e9ee2;
}

.au-theme-border-color-primary-light-focus:focus {
  color: #0e9ee2;
}

.au-theme-border-color-primary-light-first-child:first-child {
  color: #0e9ee2;
}

.au-theme-border-color-primary-light-last-child:last-child {
  color: #0e9ee2;
}

.au-theme-border-color-primary-light-before:before {
  color: #0e9ee2;
}

.au-theme-border-color-primary-light-after:after {
  color: #0e9ee2;
}

.au-theme-border-color-primary-light-enabled:enabled {
  color: #0e9ee2;
}

.au-theme-border-color-primary-light-disabled:disabled {
  color: #0e9ee2;
}

.au-theme-border-color-primary-light-checked:checked {
  color: #0e9ee2;
}

.au-theme-border-color-info-light {
  color: #28b7eb;
}

.au-theme-border-color-info-light-link:link {
  color: #28b7eb;
}

.au-theme-border-color-info-light-visited:visited {
  color: #28b7eb;
}

.au-theme-border-color-info-light-active:active {
  color: #28b7eb;
}

.au-theme-border-color-info-light-hover:hover {
  color: #28b7eb;
}

.au-theme-border-color-info-light-focus:focus {
  color: #28b7eb;
}

.au-theme-border-color-info-light-first-child:first-child {
  color: #28b7eb;
}

.au-theme-border-color-info-light-last-child:last-child {
  color: #28b7eb;
}

.au-theme-border-color-info-light-before:before {
  color: #28b7eb;
}

.au-theme-border-color-info-light-after:after {
  color: #28b7eb;
}

.au-theme-border-color-info-light-enabled:enabled {
  color: #28b7eb;
}

.au-theme-border-color-info-light-disabled:disabled {
  color: #28b7eb;
}

.au-theme-border-color-info-light-checked:checked {
  color: #28b7eb;
}

.au-theme-border-color-warning-light {
  color: #fec500;
}

.au-theme-border-color-warning-light-link:link {
  color: #fec500;
}

.au-theme-border-color-warning-light-visited:visited {
  color: #fec500;
}

.au-theme-border-color-warning-light-active:active {
  color: #fec500;
}

.au-theme-border-color-warning-light-hover:hover {
  color: #fec500;
}

.au-theme-border-color-warning-light-focus:focus {
  color: #fec500;
}

.au-theme-border-color-warning-light-first-child:first-child {
  color: #fec500;
}

.au-theme-border-color-warning-light-last-child:last-child {
  color: #fec500;
}

.au-theme-border-color-warning-light-before:before {
  color: #fec500;
}

.au-theme-border-color-warning-light-after:after {
  color: #fec500;
}

.au-theme-border-color-warning-light-enabled:enabled {
  color: #fec500;
}

.au-theme-border-color-warning-light-disabled:disabled {
  color: #fec500;
}

.au-theme-border-color-warning-light-checked:checked {
  color: #fec500;
}

.au-theme-border-color-danger-light {
  color: #f35555;
}

.au-theme-border-color-danger-light-link:link {
  color: #f35555;
}

.au-theme-border-color-danger-light-visited:visited {
  color: #f35555;
}

.au-theme-border-color-danger-light-active:active {
  color: #f35555;
}

.au-theme-border-color-danger-light-hover:hover {
  color: #f35555;
}

.au-theme-border-color-danger-light-focus:focus {
  color: #f35555;
}

.au-theme-border-color-danger-light-first-child:first-child {
  color: #f35555;
}

.au-theme-border-color-danger-light-last-child:last-child {
  color: #f35555;
}

.au-theme-border-color-danger-light-before:before {
  color: #f35555;
}

.au-theme-border-color-danger-light-after:after {
  color: #f35555;
}

.au-theme-border-color-danger-light-enabled:enabled {
  color: #f35555;
}

.au-theme-border-color-danger-light-disabled:disabled {
  color: #f35555;
}

.au-theme-border-color-danger-light-checked:checked {
  color: #f35555;
}

.au-theme-border-color-success-light {
  color: #4fca72;
}

.au-theme-border-color-success-light-link:link {
  color: #4fca72;
}

.au-theme-border-color-success-light-visited:visited {
  color: #4fca72;
}

.au-theme-border-color-success-light-active:active {
  color: #4fca72;
}

.au-theme-border-color-success-light-hover:hover {
  color: #4fca72;
}

.au-theme-border-color-success-light-focus:focus {
  color: #4fca72;
}

.au-theme-border-color-success-light-first-child:first-child {
  color: #4fca72;
}

.au-theme-border-color-success-light-last-child:last-child {
  color: #4fca72;
}

.au-theme-border-color-success-light-before:before {
  color: #4fca72;
}

.au-theme-border-color-success-light-after:after {
  color: #4fca72;
}

.au-theme-border-color-success-light-enabled:enabled {
  color: #4fca72;
}

.au-theme-border-color-success-light-disabled:disabled {
  color: #4fca72;
}

.au-theme-border-color-success-light-checked:checked {
  color: #4fca72;
}

.au-theme-border-color-primary-dark {
  color: #0e9ee2;
}

.au-theme-border-color-primary-dark-link:link {
  color: #0e9ee2;
}

.au-theme-border-color-primary-dark-visited:visited {
  color: #0e9ee2;
}

.au-theme-border-color-primary-dark-active:active {
  color: #0e9ee2;
}

.au-theme-border-color-primary-dark-hover:hover {
  color: #0e9ee2;
}

.au-theme-border-color-primary-dark-focus:focus {
  color: #0e9ee2;
}

.au-theme-border-color-primary-dark-first-child:first-child {
  color: #0e9ee2;
}

.au-theme-border-color-primary-dark-last-child:last-child {
  color: #0e9ee2;
}

.au-theme-border-color-primary-dark-before:before {
  color: #0e9ee2;
}

.au-theme-border-color-primary-dark-after:after {
  color: #0e9ee2;
}

.au-theme-border-color-primary-dark-enabled:enabled {
  color: #0e9ee2;
}

.au-theme-border-color-primary-dark-disabled:disabled {
  color: #0e9ee2;
}

.au-theme-border-color-primary-dark-checked:checked {
  color: #0e9ee2;
}

.au-theme-border-color-info-dark {
  color: #28b7eb;
}

.au-theme-border-color-info-dark-link:link {
  color: #28b7eb;
}

.au-theme-border-color-info-dark-visited:visited {
  color: #28b7eb;
}

.au-theme-border-color-info-dark-active:active {
  color: #28b7eb;
}

.au-theme-border-color-info-dark-hover:hover {
  color: #28b7eb;
}

.au-theme-border-color-info-dark-focus:focus {
  color: #28b7eb;
}

.au-theme-border-color-info-dark-first-child:first-child {
  color: #28b7eb;
}

.au-theme-border-color-info-dark-last-child:last-child {
  color: #28b7eb;
}

.au-theme-border-color-info-dark-before:before {
  color: #28b7eb;
}

.au-theme-border-color-info-dark-after:after {
  color: #28b7eb;
}

.au-theme-border-color-info-dark-enabled:enabled {
  color: #28b7eb;
}

.au-theme-border-color-info-dark-disabled:disabled {
  color: #28b7eb;
}

.au-theme-border-color-info-dark-checked:checked {
  color: #28b7eb;
}

.au-theme-border-color-warning-dark {
  color: #fec500;
}

.au-theme-border-color-warning-dark-link:link {
  color: #fec500;
}

.au-theme-border-color-warning-dark-visited:visited {
  color: #fec500;
}

.au-theme-border-color-warning-dark-active:active {
  color: #fec500;
}

.au-theme-border-color-warning-dark-hover:hover {
  color: #fec500;
}

.au-theme-border-color-warning-dark-focus:focus {
  color: #fec500;
}

.au-theme-border-color-warning-dark-first-child:first-child {
  color: #fec500;
}

.au-theme-border-color-warning-dark-last-child:last-child {
  color: #fec500;
}

.au-theme-border-color-warning-dark-before:before {
  color: #fec500;
}

.au-theme-border-color-warning-dark-after:after {
  color: #fec500;
}

.au-theme-border-color-warning-dark-enabled:enabled {
  color: #fec500;
}

.au-theme-border-color-warning-dark-disabled:disabled {
  color: #fec500;
}

.au-theme-border-color-warning-dark-checked:checked {
  color: #fec500;
}

.au-theme-border-color-danger-dark {
  color: #f35555;
}

.au-theme-border-color-danger-dark-link:link {
  color: #f35555;
}

.au-theme-border-color-danger-dark-visited:visited {
  color: #f35555;
}

.au-theme-border-color-danger-dark-active:active {
  color: #f35555;
}

.au-theme-border-color-danger-dark-hover:hover {
  color: #f35555;
}

.au-theme-border-color-danger-dark-focus:focus {
  color: #f35555;
}

.au-theme-border-color-danger-dark-first-child:first-child {
  color: #f35555;
}

.au-theme-border-color-danger-dark-last-child:last-child {
  color: #f35555;
}

.au-theme-border-color-danger-dark-before:before {
  color: #f35555;
}

.au-theme-border-color-danger-dark-after:after {
  color: #f35555;
}

.au-theme-border-color-danger-dark-enabled:enabled {
  color: #f35555;
}

.au-theme-border-color-danger-dark-disabled:disabled {
  color: #f35555;
}

.au-theme-border-color-danger-dark-checked:checked {
  color: #f35555;
}

.au-theme-border-color-success-dark {
  color: #4fca72;
}

.au-theme-border-color-success-dark-link:link {
  color: #4fca72;
}

.au-theme-border-color-success-dark-visited:visited {
  color: #4fca72;
}

.au-theme-border-color-success-dark-active:active {
  color: #4fca72;
}

.au-theme-border-color-success-dark-hover:hover {
  color: #4fca72;
}

.au-theme-border-color-success-dark-focus:focus {
  color: #4fca72;
}

.au-theme-border-color-success-dark-first-child:first-child {
  color: #4fca72;
}

.au-theme-border-color-success-dark-last-child:last-child {
  color: #4fca72;
}

.au-theme-border-color-success-dark-before:before {
  color: #4fca72;
}

.au-theme-border-color-success-dark-after:after {
  color: #4fca72;
}

.au-theme-border-color-success-dark-enabled:enabled {
  color: #4fca72;
}

.au-theme-border-color-success-dark-disabled:disabled {
  color: #4fca72;
}

.au-theme-border-color-success-dark-checked:checked {
  color: #4fca72;
}

.au-theme-border-color-white {
  color: #fff;
}

.au-theme-border-color-white-link:link {
  color: #fff;
}

.au-theme-border-color-white-visited:visited {
  color: #fff;
}

.au-theme-border-color-white-active:active {
  color: #fff;
}

.au-theme-border-color-white-hover:hover {
  color: #fff;
}

.au-theme-border-color-white-focus:focus {
  color: #fff;
}

.au-theme-border-color-white-first-child:first-child {
  color: #fff;
}

.au-theme-border-color-white-last-child:last-child {
  color: #fff;
}

.au-theme-border-color-white-before:before {
  color: #fff;
}

.au-theme-border-color-white-after:after {
  color: #fff;
}

.au-theme-border-color-white-enabled:enabled {
  color: #fff;
}

.au-theme-border-color-white-disabled:disabled {
  color: #fff;
}

.au-theme-border-color-white-checked:checked {
  color: #fff;
}

.au-theme-border-color-black {
  color: #000;
}

.au-theme-border-color-black-link:link {
  color: #000;
}

.au-theme-border-color-black-visited:visited {
  color: #000;
}

.au-theme-border-color-black-active:active {
  color: #000;
}

.au-theme-border-color-black-hover:hover {
  color: #000;
}

.au-theme-border-color-black-focus:focus {
  color: #000;
}

.au-theme-border-color-black-first-child:first-child {
  color: #000;
}

.au-theme-border-color-black-last-child:last-child {
  color: #000;
}

.au-theme-border-color-black-before:before {
  color: #000;
}

.au-theme-border-color-black-after:after {
  color: #000;
}

.au-theme-border-color-black-enabled:enabled {
  color: #000;
}

.au-theme-border-color-black-disabled:disabled {
  color: #000;
}

.au-theme-border-color-black-checked:checked {
  color: #000;
}

.au-theme-border-color-gray {
  color: #666;
}

.au-theme-border-color-gray-link:link {
  color: #666;
}

.au-theme-border-color-gray-visited:visited {
  color: #666;
}

.au-theme-border-color-gray-active:active {
  color: #666;
}

.au-theme-border-color-gray-hover:hover {
  color: #666;
}

.au-theme-border-color-gray-focus:focus {
  color: #666;
}

.au-theme-border-color-gray-first-child:first-child {
  color: #666;
}

.au-theme-border-color-gray-last-child:last-child {
  color: #666;
}

.au-theme-border-color-gray-before:before {
  color: #666;
}

.au-theme-border-color-gray-after:after {
  color: #666;
}

.au-theme-border-color-gray-enabled:enabled {
  color: #666;
}

.au-theme-border-color-gray-disabled:disabled {
  color: #666;
}

.au-theme-border-color-gray-checked:checked {
  color: #666;
}

.au-theme-border-color-light-gray {
  color: #999;
}

.au-theme-border-color-light-gray-link:link {
  color: #999;
}

.au-theme-border-color-light-gray-visited:visited {
  color: #999;
}

.au-theme-border-color-light-gray-active:active {
  color: #999;
}

.au-theme-border-color-light-gray-hover:hover {
  color: #999;
}

.au-theme-border-color-light-gray-focus:focus {
  color: #999;
}

.au-theme-border-color-light-gray-first-child:first-child {
  color: #999;
}

.au-theme-border-color-light-gray-last-child:last-child {
  color: #999;
}

.au-theme-border-color-light-gray-before:before {
  color: #999;
}

.au-theme-border-color-light-gray-after:after {
  color: #999;
}

.au-theme-border-color-light-gray-enabled:enabled {
  color: #999;
}

.au-theme-border-color-light-gray-disabled:disabled {
  color: #999;
}

.au-theme-border-color-light-gray-checked:checked {
  color: #999;
}

.au-theme-border-color-dark-gray {
  color: #333;
}

.au-theme-border-color-dark-gray-link:link {
  color: #333;
}

.au-theme-border-color-dark-gray-visited:visited {
  color: #333;
}

.au-theme-border-color-dark-gray-active:active {
  color: #333;
}

.au-theme-border-color-dark-gray-hover:hover {
  color: #333;
}

.au-theme-border-color-dark-gray-focus:focus {
  color: #333;
}

.au-theme-border-color-dark-gray-first-child:first-child {
  color: #333;
}

.au-theme-border-color-dark-gray-last-child:last-child {
  color: #333;
}

.au-theme-border-color-dark-gray-before:before {
  color: #333;
}

.au-theme-border-color-dark-gray-after:after {
  color: #333;
}

.au-theme-border-color-dark-gray-enabled:enabled {
  color: #333;
}

.au-theme-border-color-dark-gray-disabled:disabled {
  color: #333;
}

.au-theme-border-color-dark-gray-checked:checked {
  color: #333;
}

.au-theme-background-color-primary {
  background-color: #0e9ee2;
}

.au-theme-background-color-primary-link:link {
  background-color: #0e9ee2;
}

.au-theme-background-color-primary-visited:visited {
  background-color: #0e9ee2;
}

.au-theme-background-color-primary-active:active {
  background-color: #0e9ee2;
}

.au-theme-background-color-primary-hover:hover {
  background-color: #0e9ee2;
}

.au-theme-background-color-primary-focus:focus {
  background-color: #0e9ee2;
}

.au-theme-background-color-primary-first-child:first-child {
  background-color: #0e9ee2;
}

.au-theme-background-color-primary-last-child:last-child {
  background-color: #0e9ee2;
}

.au-theme-background-color-primary-before:before {
  background-color: #0e9ee2;
}

.au-theme-background-color-primary-after:after {
  background-color: #0e9ee2;
}

.au-theme-background-color-primary-enabled:enabled {
  background-color: #0e9ee2;
}

.au-theme-background-color-primary-disabled:disabled {
  background-color: #0e9ee2;
}

.au-theme-background-color-primary-checked:checked {
  background-color: #0e9ee2;
}

.au-theme-background-color-info {
  background-color: #28b7eb;
}

.au-theme-background-color-info-link:link {
  background-color: #28b7eb;
}

.au-theme-background-color-info-visited:visited {
  background-color: #28b7eb;
}

.au-theme-background-color-info-active:active {
  background-color: #28b7eb;
}

.au-theme-background-color-info-hover:hover {
  background-color: #28b7eb;
}

.au-theme-background-color-info-focus:focus {
  background-color: #28b7eb;
}

.au-theme-background-color-info-first-child:first-child {
  background-color: #28b7eb;
}

.au-theme-background-color-info-last-child:last-child {
  background-color: #28b7eb;
}

.au-theme-background-color-info-before:before {
  background-color: #28b7eb;
}

.au-theme-background-color-info-after:after {
  background-color: #28b7eb;
}

.au-theme-background-color-info-enabled:enabled {
  background-color: #28b7eb;
}

.au-theme-background-color-info-disabled:disabled {
  background-color: #28b7eb;
}

.au-theme-background-color-info-checked:checked {
  background-color: #28b7eb;
}

.au-theme-background-color-warning {
  background-color: #fec500;
}

.au-theme-background-color-warning-link:link {
  background-color: #fec500;
}

.au-theme-background-color-warning-visited:visited {
  background-color: #fec500;
}

.au-theme-background-color-warning-active:active {
  background-color: #fec500;
}

.au-theme-background-color-warning-hover:hover {
  background-color: #fec500;
}

.au-theme-background-color-warning-focus:focus {
  background-color: #fec500;
}

.au-theme-background-color-warning-first-child:first-child {
  background-color: #fec500;
}

.au-theme-background-color-warning-last-child:last-child {
  background-color: #fec500;
}

.au-theme-background-color-warning-before:before {
  background-color: #fec500;
}

.au-theme-background-color-warning-after:after {
  background-color: #fec500;
}

.au-theme-background-color-warning-enabled:enabled {
  background-color: #fec500;
}

.au-theme-background-color-warning-disabled:disabled {
  background-color: #fec500;
}

.au-theme-background-color-warning-checked:checked {
  background-color: #fec500;
}

.au-theme-background-color-danger {
  background-color: #f35555;
}

.au-theme-background-color-danger-link:link {
  background-color: #f35555;
}

.au-theme-background-color-danger-visited:visited {
  background-color: #f35555;
}

.au-theme-background-color-danger-active:active {
  background-color: #f35555;
}

.au-theme-background-color-danger-hover:hover {
  background-color: #f35555;
}

.au-theme-background-color-danger-focus:focus {
  background-color: #f35555;
}

.au-theme-background-color-danger-first-child:first-child {
  background-color: #f35555;
}

.au-theme-background-color-danger-last-child:last-child {
  background-color: #f35555;
}

.au-theme-background-color-danger-before:before {
  background-color: #f35555;
}

.au-theme-background-color-danger-after:after {
  background-color: #f35555;
}

.au-theme-background-color-danger-enabled:enabled {
  background-color: #f35555;
}

.au-theme-background-color-danger-disabled:disabled {
  background-color: #f35555;
}

.au-theme-background-color-danger-checked:checked {
  background-color: #f35555;
}

.au-theme-background-color-success {
  background-color: #4fca72;
}

.au-theme-background-color-success-link:link {
  background-color: #4fca72;
}

.au-theme-background-color-success-visited:visited {
  background-color: #4fca72;
}

.au-theme-background-color-success-active:active {
  background-color: #4fca72;
}

.au-theme-background-color-success-hover:hover {
  background-color: #4fca72;
}

.au-theme-background-color-success-focus:focus {
  background-color: #4fca72;
}

.au-theme-background-color-success-first-child:first-child {
  background-color: #4fca72;
}

.au-theme-background-color-success-last-child:last-child {
  background-color: #4fca72;
}

.au-theme-background-color-success-before:before {
  background-color: #4fca72;
}

.au-theme-background-color-success-after:after {
  background-color: #4fca72;
}

.au-theme-background-color-success-enabled:enabled {
  background-color: #4fca72;
}

.au-theme-background-color-success-disabled:disabled {
  background-color: #4fca72;
}

.au-theme-background-color-success-checked:checked {
  background-color: #4fca72;
}

.au-theme-background-color-primary-light {
  color: #0e9ee2;
}

.au-theme-background-color-primary-light-link:link {
  color: #0e9ee2;
}

.au-theme-background-color-primary-light-visited:visited {
  color: #0e9ee2;
}

.au-theme-background-color-primary-light-active:active {
  color: #0e9ee2;
}

.au-theme-background-color-primary-light-hover:hover {
  color: #0e9ee2;
}

.au-theme-background-color-primary-light-focus:focus {
  color: #0e9ee2;
}

.au-theme-background-color-primary-light-first-child:first-child {
  color: #0e9ee2;
}

.au-theme-background-color-primary-light-last-child:last-child {
  color: #0e9ee2;
}

.au-theme-background-color-primary-light-before:before {
  color: #0e9ee2;
}

.au-theme-background-color-primary-light-after:after {
  color: #0e9ee2;
}

.au-theme-background-color-primary-light-enabled:enabled {
  color: #0e9ee2;
}

.au-theme-background-color-primary-light-disabled:disabled {
  color: #0e9ee2;
}

.au-theme-background-color-primary-light-checked:checked {
  color: #0e9ee2;
}

.au-theme-background-color-info-light {
  color: #28b7eb;
}

.au-theme-background-color-info-light-link:link {
  color: #28b7eb;
}

.au-theme-background-color-info-light-visited:visited {
  color: #28b7eb;
}

.au-theme-background-color-info-light-active:active {
  color: #28b7eb;
}

.au-theme-background-color-info-light-hover:hover {
  color: #28b7eb;
}

.au-theme-background-color-info-light-focus:focus {
  color: #28b7eb;
}

.au-theme-background-color-info-light-first-child:first-child {
  color: #28b7eb;
}

.au-theme-background-color-info-light-last-child:last-child {
  color: #28b7eb;
}

.au-theme-background-color-info-light-before:before {
  color: #28b7eb;
}

.au-theme-background-color-info-light-after:after {
  color: #28b7eb;
}

.au-theme-background-color-info-light-enabled:enabled {
  color: #28b7eb;
}

.au-theme-background-color-info-light-disabled:disabled {
  color: #28b7eb;
}

.au-theme-background-color-info-light-checked:checked {
  color: #28b7eb;
}

.au-theme-background-color-warning-light {
  color: #fec500;
}

.au-theme-background-color-warning-light-link:link {
  color: #fec500;
}

.au-theme-background-color-warning-light-visited:visited {
  color: #fec500;
}

.au-theme-background-color-warning-light-active:active {
  color: #fec500;
}

.au-theme-background-color-warning-light-hover:hover {
  color: #fec500;
}

.au-theme-background-color-warning-light-focus:focus {
  color: #fec500;
}

.au-theme-background-color-warning-light-first-child:first-child {
  color: #fec500;
}

.au-theme-background-color-warning-light-last-child:last-child {
  color: #fec500;
}

.au-theme-background-color-warning-light-before:before {
  color: #fec500;
}

.au-theme-background-color-warning-light-after:after {
  color: #fec500;
}

.au-theme-background-color-warning-light-enabled:enabled {
  color: #fec500;
}

.au-theme-background-color-warning-light-disabled:disabled {
  color: #fec500;
}

.au-theme-background-color-warning-light-checked:checked {
  color: #fec500;
}

.au-theme-background-color-danger-light {
  color: #f35555;
}

.au-theme-background-color-danger-light-link:link {
  color: #f35555;
}

.au-theme-background-color-danger-light-visited:visited {
  color: #f35555;
}

.au-theme-background-color-danger-light-active:active {
  color: #f35555;
}

.au-theme-background-color-danger-light-hover:hover {
  color: #f35555;
}

.au-theme-background-color-danger-light-focus:focus {
  color: #f35555;
}

.au-theme-background-color-danger-light-first-child:first-child {
  color: #f35555;
}

.au-theme-background-color-danger-light-last-child:last-child {
  color: #f35555;
}

.au-theme-background-color-danger-light-before:before {
  color: #f35555;
}

.au-theme-background-color-danger-light-after:after {
  color: #f35555;
}

.au-theme-background-color-danger-light-enabled:enabled {
  color: #f35555;
}

.au-theme-background-color-danger-light-disabled:disabled {
  color: #f35555;
}

.au-theme-background-color-danger-light-checked:checked {
  color: #f35555;
}

.au-theme-background-color-success-light {
  color: #4fca72;
}

.au-theme-background-color-success-light-link:link {
  color: #4fca72;
}

.au-theme-background-color-success-light-visited:visited {
  color: #4fca72;
}

.au-theme-background-color-success-light-active:active {
  color: #4fca72;
}

.au-theme-background-color-success-light-hover:hover {
  color: #4fca72;
}

.au-theme-background-color-success-light-focus:focus {
  color: #4fca72;
}

.au-theme-background-color-success-light-first-child:first-child {
  color: #4fca72;
}

.au-theme-background-color-success-light-last-child:last-child {
  color: #4fca72;
}

.au-theme-background-color-success-light-before:before {
  color: #4fca72;
}

.au-theme-background-color-success-light-after:after {
  color: #4fca72;
}

.au-theme-background-color-success-light-enabled:enabled {
  color: #4fca72;
}

.au-theme-background-color-success-light-disabled:disabled {
  color: #4fca72;
}

.au-theme-background-color-success-light-checked:checked {
  color: #4fca72;
}

.au-theme-background-color-primary-dark {
  color: #0e9ee2;
}

.au-theme-background-color-primary-dark-link:link {
  color: #0e9ee2;
}

.au-theme-background-color-primary-dark-visited:visited {
  color: #0e9ee2;
}

.au-theme-background-color-primary-dark-active:active {
  color: #0e9ee2;
}

.au-theme-background-color-primary-dark-hover:hover {
  color: #0e9ee2;
}

.au-theme-background-color-primary-dark-focus:focus {
  color: #0e9ee2;
}

.au-theme-background-color-primary-dark-first-child:first-child {
  color: #0e9ee2;
}

.au-theme-background-color-primary-dark-last-child:last-child {
  color: #0e9ee2;
}

.au-theme-background-color-primary-dark-before:before {
  color: #0e9ee2;
}

.au-theme-background-color-primary-dark-after:after {
  color: #0e9ee2;
}

.au-theme-background-color-primary-dark-enabled:enabled {
  color: #0e9ee2;
}

.au-theme-background-color-primary-dark-disabled:disabled {
  color: #0e9ee2;
}

.au-theme-background-color-primary-dark-checked:checked {
  color: #0e9ee2;
}

.au-theme-background-color-info-dark {
  color: #28b7eb;
}

.au-theme-background-color-info-dark-link:link {
  color: #28b7eb;
}

.au-theme-background-color-info-dark-visited:visited {
  color: #28b7eb;
}

.au-theme-background-color-info-dark-active:active {
  color: #28b7eb;
}

.au-theme-background-color-info-dark-hover:hover {
  color: #28b7eb;
}

.au-theme-background-color-info-dark-focus:focus {
  color: #28b7eb;
}

.au-theme-background-color-info-dark-first-child:first-child {
  color: #28b7eb;
}

.au-theme-background-color-info-dark-last-child:last-child {
  color: #28b7eb;
}

.au-theme-background-color-info-dark-before:before {
  color: #28b7eb;
}

.au-theme-background-color-info-dark-after:after {
  color: #28b7eb;
}

.au-theme-background-color-info-dark-enabled:enabled {
  color: #28b7eb;
}

.au-theme-background-color-info-dark-disabled:disabled {
  color: #28b7eb;
}

.au-theme-background-color-info-dark-checked:checked {
  color: #28b7eb;
}

.au-theme-background-color-warning-dark {
  color: #fec500;
}

.au-theme-background-color-warning-dark-link:link {
  color: #fec500;
}

.au-theme-background-color-warning-dark-visited:visited {
  color: #fec500;
}

.au-theme-background-color-warning-dark-active:active {
  color: #fec500;
}

.au-theme-background-color-warning-dark-hover:hover {
  color: #fec500;
}

.au-theme-background-color-warning-dark-focus:focus {
  color: #fec500;
}

.au-theme-background-color-warning-dark-first-child:first-child {
  color: #fec500;
}

.au-theme-background-color-warning-dark-last-child:last-child {
  color: #fec500;
}

.au-theme-background-color-warning-dark-before:before {
  color: #fec500;
}

.au-theme-background-color-warning-dark-after:after {
  color: #fec500;
}

.au-theme-background-color-warning-dark-enabled:enabled {
  color: #fec500;
}

.au-theme-background-color-warning-dark-disabled:disabled {
  color: #fec500;
}

.au-theme-background-color-warning-dark-checked:checked {
  color: #fec500;
}

.au-theme-background-color-danger-dark {
  color: #f35555;
}

.au-theme-background-color-danger-dark-link:link {
  color: #f35555;
}

.au-theme-background-color-danger-dark-visited:visited {
  color: #f35555;
}

.au-theme-background-color-danger-dark-active:active {
  color: #f35555;
}

.au-theme-background-color-danger-dark-hover:hover {
  color: #f35555;
}

.au-theme-background-color-danger-dark-focus:focus {
  color: #f35555;
}

.au-theme-background-color-danger-dark-first-child:first-child {
  color: #f35555;
}

.au-theme-background-color-danger-dark-last-child:last-child {
  color: #f35555;
}

.au-theme-background-color-danger-dark-before:before {
  color: #f35555;
}

.au-theme-background-color-danger-dark-after:after {
  color: #f35555;
}

.au-theme-background-color-danger-dark-enabled:enabled {
  color: #f35555;
}

.au-theme-background-color-danger-dark-disabled:disabled {
  color: #f35555;
}

.au-theme-background-color-danger-dark-checked:checked {
  color: #f35555;
}

.au-theme-background-color-success-dark {
  color: #4fca72;
}

.au-theme-background-color-success-dark-link:link {
  color: #4fca72;
}

.au-theme-background-color-success-dark-visited:visited {
  color: #4fca72;
}

.au-theme-background-color-success-dark-active:active {
  color: #4fca72;
}

.au-theme-background-color-success-dark-hover:hover {
  color: #4fca72;
}

.au-theme-background-color-success-dark-focus:focus {
  color: #4fca72;
}

.au-theme-background-color-success-dark-first-child:first-child {
  color: #4fca72;
}

.au-theme-background-color-success-dark-last-child:last-child {
  color: #4fca72;
}

.au-theme-background-color-success-dark-before:before {
  color: #4fca72;
}

.au-theme-background-color-success-dark-after:after {
  color: #4fca72;
}

.au-theme-background-color-success-dark-enabled:enabled {
  color: #4fca72;
}

.au-theme-background-color-success-dark-disabled:disabled {
  color: #4fca72;
}

.au-theme-background-color-success-dark-checked:checked {
  color: #4fca72;
}

.au-theme-background-color-white {
  color: #fff;
}

.au-theme-background-color-white-link:link {
  color: #fff;
}

.au-theme-background-color-white-visited:visited {
  color: #fff;
}

.au-theme-background-color-white-active:active {
  color: #fff;
}

.au-theme-background-color-white-hover:hover {
  color: #fff;
}

.au-theme-background-color-white-focus:focus {
  color: #fff;
}

.au-theme-background-color-white-first-child:first-child {
  color: #fff;
}

.au-theme-background-color-white-last-child:last-child {
  color: #fff;
}

.au-theme-background-color-white-before:before {
  color: #fff;
}

.au-theme-background-color-white-after:after {
  color: #fff;
}

.au-theme-background-color-white-enabled:enabled {
  color: #fff;
}

.au-theme-background-color-white-disabled:disabled {
  color: #fff;
}

.au-theme-background-color-white-checked:checked {
  color: #fff;
}

.au-theme-background-color-black {
  color: #000;
}

.au-theme-background-color-black-link:link {
  color: #000;
}

.au-theme-background-color-black-visited:visited {
  color: #000;
}

.au-theme-background-color-black-active:active {
  color: #000;
}

.au-theme-background-color-black-hover:hover {
  color: #000;
}

.au-theme-background-color-black-focus:focus {
  color: #000;
}

.au-theme-background-color-black-first-child:first-child {
  color: #000;
}

.au-theme-background-color-black-last-child:last-child {
  color: #000;
}

.au-theme-background-color-black-before:before {
  color: #000;
}

.au-theme-background-color-black-after:after {
  color: #000;
}

.au-theme-background-color-black-enabled:enabled {
  color: #000;
}

.au-theme-background-color-black-disabled:disabled {
  color: #000;
}

.au-theme-background-color-black-checked:checked {
  color: #000;
}

.au-theme-background-color-gray {
  color: #666;
}

.au-theme-background-color-gray-link:link {
  color: #666;
}

.au-theme-background-color-gray-visited:visited {
  color: #666;
}

.au-theme-background-color-gray-active:active {
  color: #666;
}

.au-theme-background-color-gray-hover:hover {
  color: #666;
}

.au-theme-background-color-gray-focus:focus {
  color: #666;
}

.au-theme-background-color-gray-first-child:first-child {
  color: #666;
}

.au-theme-background-color-gray-last-child:last-child {
  color: #666;
}

.au-theme-background-color-gray-before:before {
  color: #666;
}

.au-theme-background-color-gray-after:after {
  color: #666;
}

.au-theme-background-color-gray-enabled:enabled {
  color: #666;
}

.au-theme-background-color-gray-disabled:disabled {
  color: #666;
}

.au-theme-background-color-gray-checked:checked {
  color: #666;
}

.au-theme-background-color-light-gray {
  color: #999;
}

.au-theme-background-color-light-gray-link:link {
  color: #999;
}

.au-theme-background-color-light-gray-visited:visited {
  color: #999;
}

.au-theme-background-color-light-gray-active:active {
  color: #999;
}

.au-theme-background-color-light-gray-hover:hover {
  color: #999;
}

.au-theme-background-color-light-gray-focus:focus {
  color: #999;
}

.au-theme-background-color-light-gray-first-child:first-child {
  color: #999;
}

.au-theme-background-color-light-gray-last-child:last-child {
  color: #999;
}

.au-theme-background-color-light-gray-before:before {
  color: #999;
}

.au-theme-background-color-light-gray-after:after {
  color: #999;
}

.au-theme-background-color-light-gray-enabled:enabled {
  color: #999;
}

.au-theme-background-color-light-gray-disabled:disabled {
  color: #999;
}

.au-theme-background-color-light-gray-checked:checked {
  color: #999;
}

.au-theme-background-color-dark-gray {
  color: #333;
}

.au-theme-background-color-dark-gray-link:link {
  color: #333;
}

.au-theme-background-color-dark-gray-visited:visited {
  color: #333;
}

.au-theme-background-color-dark-gray-active:active {
  color: #333;
}

.au-theme-background-color-dark-gray-hover:hover {
  color: #333;
}

.au-theme-background-color-dark-gray-focus:focus {
  color: #333;
}

.au-theme-background-color-dark-gray-first-child:first-child {
  color: #333;
}

.au-theme-background-color-dark-gray-last-child:last-child {
  color: #333;
}

.au-theme-background-color-dark-gray-before:before {
  color: #333;
}

.au-theme-background-color-dark-gray-after:after {
  color: #333;
}

.au-theme-background-color-dark-gray-enabled:enabled {
  color: #333;
}

.au-theme-background-color-dark-gray-disabled:disabled {
  color: #333;
}

.au-theme-background-color-dark-gray-checked:checked {
  color: #333;
}
