.au-theme-font-color-primary {
  color: #0e9ee2;
}

.au-theme-font-color-info {
  color: #28b7eb;
}

.au-theme-font-color-warning {
  color: #fec500;
}

.au-theme-font-color-danger {
  color: #f35555;
}

.au-theme-font-color-success {
  color: #4fca72;
}

.au-theme-font-color-white {
  color: #fff;
}

.au-theme-font-color-black {
  color: #000;
}

.au-theme-font-color-gray {
  color: #666;
}

.au-theme-font-color-light-gray {
  color: #999;
}

.au-theme-font-color-dark-gray {
  color: #333;
}
