// color
$color-map: (
  primary: #0e9ee2,
  info: #28b7eb,
  warning: #fec500,
  danger: #f35555,
  success: #4fca72,
);

$light-color-map: (
  primary: #0e9ee2,
  info: #28b7eb,
  warning: #fec500,
  danger: #f35555,
  success: #4fca72,
);

$dark-color-map: (
  primary: #0e9ee2,
  info: #28b7eb,
  warning: #fec500,
  danger: #f35555,
  success: #4fca72,
);

$font-neutral-map: (
  white: #fff,
  black: #000,
  gray: #666,
  light-gray: #999,
  dark-gray: #333,
);

$border-neutral-map: (
  white: #fff,
  black: #000,
  gray: #666,
  light-gray: #999,
  dark-gray: #333,
);

// 背景 - 无彩色
$background-neutral-map: (
  white: #fff,
  black: #000,
  gray: #666,
  light-gray: #999,
  dark-gray: #333,
);



// 文字颜色 - 彩色
@each $color, $number in $color-map {
  .au-theme-font-color-#{$color} {
    color: #{$number};
  }
};
