// font family
$fontFamily: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

// font size
$small: 12px;
$normal: 14px;
$medium: 16px;
$large: 18px;
$huge: 24px;
$giant: 28px;
