.page {
  padding: 24px;
  line-height: 22px;
}
.section:not(:last-child) {
  margin-bottom: 24px;
}
.component-example {
  margin: 24px 0 0 0;
}
.title-1,
.title-2 {
  margin: 12px 0;
  font-weight: bold;
}
.title-1 {
  font-size: 16px;
}
.title-2 {
  font-size: 14px;
}
.paragraph {
  font-size: 14px;
  line-height: 24px;
}
.paragraph:not(:last-child) {
  margin-bottom: 12px;
}
.table {
  margin: 20px 0;
}
.table:last-child {
  margin-bottom: 0;
}
.table td,
.table th {
  line-height: 24px;
}
.option-list {
  li {
    position: relative;
    padding-left: 16px;
    margin: 12px 0;
  }
  li:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0px;
    margin-top: -3px;
    border-radius: 100%;
    width: 6px;
    height: 6px;
    border-width: 1px;
    border-style: solid;
  }
}
.cite {
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 20px;
  padding: 12px 12px 12px 24px;
  margin: 12px 0;
}
.cite:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 100%;
}
.code {
  display: inline-block;
  padding: 0 4px;
  margin: 0 4px;
}
.emphasize {
  font-weight: bold;
}
