// font family
$fontFamily: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

// font size
$mini: 10px;
$small: 12px;
$normal: 14px;
$medium: 16px;
$large: 18px;
$huge: 24px;
$giant: 28px;

// element size
$size-mini: 20px;
$size-small: 24px;
$size-normal: 32px;
$size-large: 36px;

// z-index
$z-level-1: 9999; // popover,datepicker,timepicker,select,input
$z-level-2: 99999; // modal,previewer,loading
$z-level-3: 999999; // message
