// font family
$fontFamily: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

// font size
$small: 12px;
$normal: 14px;
$medium: 16px;
$large: 18px;
$huge: 24px;
$giant: 28px;

// element size
$size-mini: 20px;
$size-small: 26px;
$size-normal: 32px;
$size-large: 38px;

// z-index
$z-level-1: 997;
$z-level-2: 998;
$z-level-3: 999;
